// COLORS
$primary-color: #4f1178;
$secondary-color: #8a607d;

$white-color: #fff;

$dark-grey: #3d2440;
$light-grey: #d2d2d2;

$dark-blue-text: #b54819;// For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
